.minibtn, .minibtnn, .minibtnnn
    width: 100%
    background: #000
    color: #fff
.infobtn, .infobtnn, .infobtnnn
    width: 25px
    height: 25px
    border-radius: 100%
    background: #ffa600
    color: #fff
    margin-left: 40px
    border: none
    padding-right: 25px
    img
        display: block
        
.backbtn, .backbtnn, .backbtnnn
    width: 100%
    background: #000
    color: #fff
.basket
    width: 100%
    background: #000
    color: #fff
    &:hover
        background: #ffee00
        cursor: pointer
    &:active
        background: #e20000
        cursor: pointer
    